ADMIN_USERNAME=admin
ADMIN_PASSWORD=publictalk
JWT_SECRET= k8+N1vP6Q9zX4yL7wM2rT5bV8cC3dE0fG1hI2jK3lL4=

NEXT_PUBLIC_SUPABASE_URL=https://ivxazbzrszvllbkyuetd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2eGF6Ynpyc3p2bGxia3l1ZXRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4OTA0ODgsImV4cCI6MjEwMDQ2NjQ4OH0.RYvVO59hC0UwSQjpGic9lvdo2BCxOn6JE-Hn3-8BJJ0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2eGF6Ynpyc3p2bGxia3l1ZXRkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDg5MDQ4OCwiZXhwIjoyMTAwNDY2NDg4fQ.EkpaREVcvpjb0JRDp8nN8D-KFpDqTxzC8wRFtj_xkpo
SUPABASE_NEWS_IMAGE_BUCKET=news-images
SUPABASE_EPAPER_BUCKET=epapers
SUPABASE_EPAPER_PATH=daily/epaper.pdf
